<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/css/bootstrap.css"/>
        <link rel="stylesheet" href="/css/style.css"/>
    </head>
  <body>
      <h2 class="page-header">Home</h2>
      <p>
          Welcome to your Home!
      </p>
      <div>
          <a href="/logout"> <button class="btn btn-success">Logout</button> </a>
      </div>

      <footer>
        <p>&copy; 2016 Company, Inc.</p>
      </footer>
    </div> <!-- /container -->
  </body>
 </html>
